
:root {
	--color-blue: #846ff7;
	--color-green: #70e0bb;
	--color-yellow: #f7f36f;
	--color-orange: #f5793b;
	--color-red: #f0504f;
	--color-white: #f0f1df;
	--color-gray: #2a2d30;
	--color-black: #0d0d0d;

	--header-bg-color: var(--color-gray);
	--main-bg-color: var(--color-gray);
	--calculator-body-bg-color: var(--color-black);
	--calculator-display-bg-color: var(--color-white);

	--header-fg-color: var(--color-white);
	--calculator-display-fg-color: var(--color-black);
}

/* --- */

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;

	display: flex;
	flex-flow: column nowrap;
}

/* --- */

header {
	background: var(--header-bg-color);
	color: var(--header-fg-color);

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

/* --- */

main {
	background: var(--main-bg-color);
	flex-grow: 1;
	padding: 1rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.calculator-body {
	background: var(--calculator-body-bg-color);
	width: 100%;
	max-width: 500px;
	padding: 1rem;

	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
}

.calculator-display {
	background: var(--calculator-display-bg-color);
	color: var(--calculator-display-fg-color);
	flex: 0 0 100px;
}
