
:root {
	--color-blue: #846ff7;
	--color-green: #70e0bb;
	--color-yellow: #f7f36f;
	--color-orange: #f5793b;
	--color-red: #f0504f;
	--color-white: #f0f1df;
	--color-pure-white: #ffffff;
	--color-gray: #2a2d30;
	--color-black: #0d0d0d;
	--color-pure-black: #000000;
	--color-shadow-black: #00000077;

	--header-bg-color: var(--color-black);
	--main-bg-color: var(--color-gray);
	--calculator-body-bg-color: var(--color-black);
	--calculator-display-bg-color: var(--color-white);

	--header-fg-color: var(--color-white);
	--calculator-display-fg-color: var(--color-black);
	--calculator-display-equation-fg-color: var(--color-gray);

	--calculator-number-button-bg-color: var(--color-green);
	--calculator-number-button-fg-color: var(--color-black);

	--calculator-decimal-button-bg-color: var(--color-green);
	--calculator-decimal-button-fg-color: var(--color-black);

	--calculator-clear-button-bg-color: var(--color-blue);
	--calculator-clear-button-fg-color: var(--color-black);

	--calculator-operation-button-bg-color: var(--color-red);
	--calculator-operation-button-fg-color: var(--color-black);

	--calculator-equals-to-button-bg-color: var(--color-orange);
	--calculator-equals-to-button-fg-color: var(--color-black);
}

/* --- */

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;

	display: flex;
	flex-flow: column nowrap;
}

/* --- */

header {
	background: var(--header-bg-color);
	color: var(--header-fg-color);

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

/* --- */

main {
	background: var(--main-bg-color);
	flex-grow: 1;
	padding: 1rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.calculator-body {
	background: var(--calculator-body-bg-color);
	width: 100%;
	max-width: 500px;
	border-radius: 10px;
	padding: 1rem;
	box-shadow: 20px 20px 5px 5px var(--color-shadow-black);

	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
}

.calculator-display {
	background: var(--calculator-display-bg-color);
	color: var(--calculator-display-fg-color);
	border-radius: 10px;
	flex: 0 0 100px;

	display: flex;
	flex-flow: column nowrap;
}

.calculator-display-equation {
	color: var(--calculator-display-equation-fg-color);
	flex: 0 0 30%;
	padding: 0.3rem 0.7rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-content: center;
}
.calculator-display-term {
	flex: 1 1 auto;
	padding: 0.3rem 0.4rem;
	font-size: 3rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: flex-end;
}

.calculator-inputs {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
}

/* --- */

.calculator-button {
	aspect-ratio: 1;
	border: none;
	border-radius: 10px;
	font-size: 2rem;
	font-weight: bold;
}

.calculator-number-button {
	background: var(--calculator-number-button-bg-color);
	color: var(--calculator-number-button-fg-color);
}

.calculator-decimal-button {
	background: var(--calculator-decimal-button-bg-color);
	color: var(--calculator-decimal-button-fg-color);
}

.calculator-clear-button,
.calculator-all-clear-button {
	background: var(--calculator-clear-button-bg-color);
	color: var(--calculator-clear-button-fg-color);
}

.calculator-operation-button {
	background: var(--calculator-operation-button-bg-color);
	color: var(--calculator-operation-button-fg-color);
}

.calculator-equals-to-button {
	background: var(--calculator-equals-to-button-bg-color);
	color: var(--calculator-equals-to-button-fg-color);
}
