
@import url("./reset.css");
@import url("./fonts.css");

/* --- */

:root {

	/* fonts */

	--fsty-sans-serif: sans-serif;
	--fsty-mono: monospace;

	--fsty-calculator-button: noto-sans, var(--fsty-sans-serif);
	--fsty-calculator-display: noto-sans, var(--fsty-sans-serif);
	--fsty-body: noto-sans, var(--fsty-sans-serif);

	/* font sizes */

	--fs-header: clamp(2rem, 5vw, 3rem);
	--fs-display-term: clamp(1rem, 10vw, 3rem);
	--fs-disply-equation: clamp(0.8rem, 5vw, 2rem);
	--fs-button: clamp(0.8rem, 5vw, 2rem);
	--fs-trig-button: clamp(0.8rem, 5vw, 1.4rem);

	/* colors */

	--color-light-blue: #c3ddee;
	--color-alpha-light-blue: #c3ddeeaa;

	--color-blue: #846ff7;
	--color-alpha-blue: #846ff7aa;

	--color-green: #70e0bb;
	--color-alpha-green: #70e0bbaa;

	--color-yellow: #f7f36f;
	--color-alpha-yellow: #f7f36faa;

	--color-orange: #f5793b;
	--color-alpha-orange: #f5793baa;

	--color-red: #f0504f;
	--color-alpha-red: #f0504faa;

	--color-white: #adadad;
	--color-alpha-white: #fdfdfd99;
	--color-pure-white: #ffffff;

	--color-gray: #2a2d30;
	--color-black: #0d0d0d;
	--color-pure-black: #000000;
	--color-alpha-black: #00000077;

	/* background colors of containers */

	--body-bg-color: var(--color-green);
	--main-bg-color: inherit;
	--header-bg-color: var(--color-black);
	--calculator-body-bg-color: var(--color-alpha-white);
	--calculator-display-bg-color: none;
	--footer-bg-color: inherit;

	--body-fg-color: var(--color-black);
	--header-fg-color: var(--color-pure-white);
	--calculator-display-fg-color: var(--color-black);
	--calculator-display-equation-fg-color: var(--color-gray);
	--footer-fg-color: inherit;

	/* calculator number button */

	--calculator-number-button-bg-color: var(--color-blue);
	--calculator-number-button-fg-color: var(--color-black);

	--calculator-decimal-button-bg-color: var(--calculator-number-button-bg-color);
	--calculator-decimal-button-fg-color: var(--calculator-number-button-fg-color);

	--calculator-clear-button-bg-color: none;
	--calculator-clear-button-fg-color: var(--color-black);

	--calculator-operation-button-bg-color: var(--color-red);
	--calculator-operation-button-fg-color: var(--color-black);

	--calculator-equals-to-button-bg-color: var(--calculator-operation-button-bg-color);
	--calculator-equals-to-button-fg-color: var(--calculator-operation-button-fg-color);

	--calculator-trig-button-bg-color: var(--color-yellow);
	--calculator-trig-button-fg-color: var(--color-black);

	--calculator-one-over-button-bg-color: var(--calculator-trig-button-bg-color);
	--calculator-one-over-button-fg-color: var(--calculator-trig-button-fg-color);

	--calculator-inversion-button-bg-color: var(--calculator-trig-button-bg-color);
	--calculator-inversion-button-fg-color: var(--calculator-trig-button-fg-color);

	--calculator-angle-degree-button-bg-color: var(--color-orange);
	--calculator-angle-degree-button-fg-color: var(--color-black);

	--calculator-angle-rad-button-bg-color: var(--color-yellow);
	--calculator-angle-rad-button-fg-color: var(--color-black);

}

/* --- */

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	font-family: var(--fsty-body);
	background: var(--body-bg-color);
	color: var(--body-fg-color);

	display: flex;
	flex-flow: column nowrap;
}

/* --- */

header {
	background: var(--header-bg-color);
	color: var(--header-fg-color);
	padding: 1.3rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

header h1 {
	font-size: var(--fs-header);
	font-weight: bold;
}

/* --- */

main {
	background: var(--main-bg-color);
	flex-grow: 1;
	padding: 1rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.calculator-body {
	background: var(--calculator-body-bg-color);
	width: 100%;
	max-width: 500px;
	border-radius: 10px;
	padding: 1rem;
	backdrop-filter: blur(2rem);

	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
}

.calculator-display {
	background: var(--calculator-display-bg-color);
	color: var(--calculator-display-fg-color);
	font-family: var(--fsty-calculator-display);
	border-radius: 20px;
	flex: 0 0 100px;

	display: flex;
	flex-flow: column nowrap;
}

.calculator-display-equation {
	color: var(--calculator-display-equation-fg-color);
	flex: 0 0 40%;
	padding: 0.3rem 0.7rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	font-size: var(--fs-disply-equation);
}

.calculator-display-term {
	flex: 1 1 auto;
	padding: 0.3rem 0.4rem;
	font-size: var(--fs-display-term);
	font-weight: bold;

	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: flex-end;
	line-height: 0.8;
}

.calculator-inputs {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 0.5rem;
	justify-items: stretch;
}

.grid-col-span-2 {
	grid-column: span 2;
}

/* --- */

.calculator-button {
	border: none;
	border-radius: 10px;
	font-size: var(--fs-button);
	font-weight: bold;
	font-family: var(--fsty-calculator-button);
	aspect-ratio: 1;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.calculator-number-button,
.calculator-pi-button {
	background: var(--calculator-number-button-bg-color);
	color: var(--calculator-number-button-fg-color);
}

.calculator-decimal-button {
	background: var(--calculator-decimal-button-bg-color);
	color: var(--calculator-decimal-button-fg-color);
}

.calculator-clear-button,
.calculator-all-clear-button {
	background: var(--calculator-clear-button-bg-color);
	color: var(--calculator-clear-button-fg-color);
	aspect-ratio: auto;
}

.calculator-operation-button {
	background: var(--calculator-operation-button-bg-color);
	color: var(--calculator-operation-button-fg-color);
}

.calculator-equals-to-button {
	background: var(--calculator-equals-to-button-bg-color);
	color: var(--calculator-equals-to-button-fg-color);
	aspect-ratio: auto;
}

.calculator-trig-button {
	background: var(--calculator-trig-button-bg-color);
	color: var(--calculator-trig-button-fg-color);
	font-size: var(--fs-trig-button);
}

.calculator-one-over-button {
	background: var(--calculator-one-over-button-bg-color);
	color: var(--calculator-one-over-button-fg-color);
	font-size: var(--fs-trig-button);
}

.calculator-inversion-button {
	background: var(--calculator-inversion-button-bg-color);
	color: var(--calculator-inversion-button-fg-color);
	font-size: var(--fs-trig-button);
}

.calculator-angle-degree-button {
	background: var(--calculator-angle-degree-button-bg-color);
	color: var(--calculator-angle-degree-button-fg-color);
	font-size: var(--fs-trig-button);
}

.calculator-angle-rad-button {
	background: var(--calculator-angle-rad-button-bg-color);
	color: var(--calculator-angle-rad-button-fg-color);
	font-size: var(--fs-trig-button);
}

/* --- */

footer {
	background: var(--footer-bg-color);
	color: var(--footer-fg-color);
	padding: 5px;

	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-end;

}

footer img {
	width: 25px;
	cursor: pointer;
}
